.ipynb_checkpoints/
venv
__pycache__
# Ignore all .env files
.env.*
# But don't ignore the example env files
!.env.*.example
data/
runlog/*
!runlog/.gitkeep
tmp_data/
# scatch files, start them with a "_"
_*.py
# ignore notebooks I tried to use
*.ipynb